.navigation{
    &__checkbox{
        display: none;
    }
    &__button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000; 
        box-shadow: 0 1rem 3rem rgba($color-black,.1);
        text-align: center;
        background-image: radial-gradient($color-white 50%,$color-grey-light-2 80%,$color-grey-light-3 95%);
        cursor: pointer;
    }
    &__bg{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-tertiary-light,$color-tertiary-dark);
        z-index: 1000; 
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    }
    &__nav{
        height: 100vh;
        
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        
        opacity: 0;
        width: 0;

        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        
    }
    &__list{
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    &__item{
        margin: 1rem;
    }
    &__link{
        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
            font-weight: 3rem;
            color: $color-white;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .4rem;
            background-image: linear-gradient(120deg,transparent,transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .4s;
            
            span{
                margin-right: 1rem;
                display: inline-block;
            }
        }
        
        &:hover,
        &:active{
            background-position: 100%;
            color: $color-tertiary-light;
            transform: translateX(1rem);
            text-shadow: 0 0 6px $color-tertiary-light;
            
            span{
                
                text-shadow: 0 0 6px $color-secondary-light;
                color: $color-secondary-dark;
            }
        }
        
        
    }
 
    //FUNcTIONALITY
    &__checkbox:checked ~ &__bg{
         transform: scale(80);
    }
    &__checkbox:checked ~ &__nav{
         opacity: 1;
         width: 100%;
    }

    //ICON
    &__icon{
        position: relative;
        margin-top: 3.5rem;
        &,
        &::after,
        &::before{
            width: 3rem;
            height: .2rem;
            background-color: $color-grey-dark-1;
            display: inline-block;
            transition: top .1s;
            box-shadow: 0 2rem 5rem rgba($color-black, .1);


        }

        &::after,&::before{
            content: "";
            position: absolute;
            left: 0;
            transition: all  .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          


        }
        &::after{
            top: .8rem;
        }
        &::before{
            top: -.8rem

        }
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
        
    }
    &__checkbox:checked + &__button &__icon::after{
        top: 0;
       transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(-135deg);
        
    }

    
}