// COLORS
$color-primary-dark: #0072ff; 
$color-primary:  #0099ff;
$color-primary-light: #00c6ff ;
$color-white : #fffff4;
$color-black : #000;

$color-dark-grey : #444444 ;
$color-grey-dark-1: #777;
$color-grey-dark-2: #333;


$color-grey-light-1 : #f7f7f7 ;
$color-grey-light-2 : #eee ;
$color-grey-light-3 : #999;


$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-quad-light:#7ed56f;
$color-quad-dark:#28b485;





//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
