.btn{
    &,
    &:link ,
    &:visited{
        text-transform: uppercase;
        text-decoration: none; 
        padding: 1.5rem 4rem ;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
    
          //Change for the <button> element
          border: none;
          cursor: pointer;
    }
    
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, 0.2);
    
        &::after{
            transform:  scaleX(1.4) scaleY(1.6);;
            opacity: 0;
        }
    }  
    
    &:focus,
    &:active{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, 0.2);
    }
    
    &--white{
        background-color: $color-white;
        color:$color-dark-grey;
    
        &::after{
            background-color:$color-white;
        }
    }

    &--blue{
        background-color: $color-tertiary-light;
        color:$color-white;
    
        &::after{
            background-color:$color-tertiary-light;
        }
    }
    
    &::after{
        content: "";
        display: inline-block;
    
        
        width: 100%;
        height: 100%;
        border-radius: 10rem;
    
        position: absolute;
        top: 0;
        left: 0;
    
        z-index: -1;
        transition: all 0.4s;
    
    }
    
    
    
    
    
    &--animated{
        animation: moveInButton 0.8s ease-out 1.15s;
        animation-fill-mode: backwards;
    }
    
}

.btn-text{

    &:link ,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        text-decoration: none; 

        display: inline-block;
        padding: .4rem ;
        
      
       
        border-bottom: 1px solid $color-primary;
       transition: all .2s;
    
       position: relative;
        
    }
    
    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 10px 20px rgba($color-black, 0.12);

        transform: translateY(-2px);
     
    }  
    
    
    &:active{
        transform: translateY(-.5px);
        box-shadow: 0 5px 10px rgba($color-black, 0.2);
    }
    
    
}
    
    