.feature-box{
    text-align: center;
    padding: 2.5rem;
    background-color: rgba($color-white,0.8);
    font-size: 1.5rem;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;
    perspective: 150rem;
    height: 30rem;
    

    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right bottom,
        rgba($color-tertiary-light, 0.788),
        rgba($color-tertiary-dark, 0.699) 
         );
         background-clip: text;
         -webkit-background-clip: text;
         color: transparent;
         transition: all .9s;

    }

    &:hover {
        transform: scale(1.03) translateY(-1.2rem);

        box-shadow: inset 0 0 2rem rgba($color-secondary-light, .75);

    }
    &:hover  &__icon{
        text-shadow: 0 0 10px $color-tertiary-dark;
        
        color: $color-tertiary-light;
        
    }
    
    &:hover .heading-tertiary{
        // text-shadow: 0 0 6px $color-secondary-light;
        // color: $color-secondary-light;
        text-shadow: 0 0 10px $color-tertiary-dark;
        
        color: $color-tertiary-light;

    }


}