.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index:9999999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: $color-white url('/img/preloader.gif') no-repeat center center; 
}