.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black,.1);
    background-color: rgba($color-white,.5);
    border-radius: .3rem;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    
    backface-visibility: hidden;
    &__shape{
        
        width:15rem;
        height:15rem;
        float:left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);;
        position: relative;
        backface-visibility: hidden;

    }

    &__img{
        height: 100%;
        backface-visibility: hidden;
        transform: scale(1.4);
        transition: all .5s;

        &--1{
            transform: scale(1.4);
        }
        &--2{
            transform: scale(1.2);

        }

        
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,100%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 700;
        text-align: center;
        opacity: 0;
        transition: all .6s;
        backface-visibility: hidden;
        
    }
    &__text{
        transform: skewX(12deg);
    }
    
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%,-50%);
        
    }
    
    &:hover &__img{

        filter: blur(.3rem) brightness(80%);
        &--1{

            transform: scale(1);
        }
        &--2{

            transform: scale(0.99);
        }
        
    }
    
    
}